<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hernan Gavilan - BI Developer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>
<body>
   <!--<img src="https://raw.githubusercontent.com/MariyaSha/SimpleGreetingApp/main/logo.png">-->
   <h1>HERNAN GAVILAN ACOSTA</h1>
   <br>
   <h2>Business Intelligence Developer</h2>

    <br>
    <form action="greet" method="post">
        {% for message in get_flashed_messages() %}
             <p>{{ message }}</p>
         {% endfor %}
        <br>
        <input type="text" name="name_input">
        <br>
        <input type="submit" value="GREET" id="greet">
    </form>
</body>
</html>